* {
	margin: 0;
	padding: 0;
	font-family: "futura md bt";
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	background: white;
}

.callsection {
	background-color: #24262b;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;

}

.callsection a {

	text-decoration: none;
	color: red;
	font-weight: bold;
}


header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	background: #24262b;

	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}


header nav ul {
	display: flex;
}

header nav ul li a {
	display: inline-block;
	color: white;
	padding: 5px 0;
	margin: 0 10px;
	border: 3px solid transparent;
	text-transform: uppercase;
	transition: 0.2s;
}

header nav ul li a:hover,
header nav ul li a.active {
	border-bottom-color: dodgerblue;
}

.hamburger {
	cursor: pointer;
	display: none;
}

.hamburger div {
	width: 30px;
	height: 3px;
	margin: 5px 0;
	background: #000;
}

@media only screen and (max-width: 900px) {
	header {
		padding: 0 30px;
	}
}

@media only screen and (max-width: 700px) {
	.hamburger {
		display: block;
	}

	header nav {
		position: absolute;
		width: 100%;
		left: -100%;
		top: 70px;
		width: 100%;
		background: #24262b;
		padding: 30px;
		transition: 0.3s;
	}

	header #nav_check:checked~nav {
		left: 0;
	}

	header nav ul {
		display: block;
	}

	header nav ul li a {
		margin: 5px 0;
	}
}


/* Slider */

.slider {
	position: relative;
	width: 100%;
	/* background: #2c3e50; darckblue */
}

.myslide {
	height: 555px;
	display: none;
	overflow: hidden;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}

.prev:hover,
.next:hover {
	color: #00a7ff;
}

.next {
	right: 0;
}

.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}

.dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

/* /2 */

/* javascript */
.dot:hover {
	border-color: #00a7ff;
}

/* /javascript */

/* muslide add fade */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

/* /muslide add fade */

/* 3 */
.txt {
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
	-webkit-animation-duration: 2s;
	animation-name: posi;
	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 15%;
	}
}


@keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 15%;
	}
}

.txt h1 {
	color: #00a7ff;
	/* blue */
	font-size: 50px;
	margin-bottom: 20px;
}

.txt p {
	font-weight: bold;
	font-size: 20px;
}

/* /3 */

/* 4 */
#animation {
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 40s;
	animation-name: zoomin;
	animation-duration: 40s;
}

@-webkit-keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.5, 1.5);
	}
}


@keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.5, 1.5);
	}
}

/* /4 */



/* 5 */
@media screen and (max-width: 800px) {
	.myslide {
		height: 500px;
	}

	.txt {
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 50%;
		}
	}


	@keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 50%;
		}
	}

	.txt h1 {
		font-size: 40px;
	}

	.txt p {
		font-size: 13px;
	}

}

/* /5 */

/* 6 */
@media screen and (max-width: 520px) {
	.txt h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.sign {
		margin-right: 20px;
	}

	.sign a {
		font-size: 12px;
	}
}

/* /6 */

/* Two sider Div  */

#content1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#content1>div {
	padding: 20px;
	max-width: 550px;
	text-align: justify;
	vertical-align: top;
}

#content1>div:first-child {
	margin-right: 40px;
	/* Adjust the margin between content and image */
}

#content1>div>button {
	background-color: dodgerblue;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	display: block;
	margin-top: 10px;
}

@media (max-width: 600px) {
	#content1 {
		flex-direction: column;
		align-items: center;
	}

	#content1>div {
		margin: 10px;
	}

	#content1>div>img {
		width: 100%;
		height: auto;
	}
}

/* Gallery */
.gallery {
	display: flex;
	width: 30%;
	height: 250px;
	gap: 2px;
	margin-left: 40px;
	margin-right: 40px;

}

.gallery>img {
	width: 20%;
	height: 250px;
	aspect-ratio: 2/2;
	object-fit: cover;
	border: 2px solid white;
	border-radius: 5px;
	transition: all ease 1.5s;

}

.gallery>img:hover {
	width: 100%;
	transform: translateY(-10px);

}

/* contect form */

.contectUs {
	float: left;
	width: 50%;
	margin-right: 20px;
}

.contectUs img {
	width: 70%;
	height: 450px;
	border-radius: 10px;
	margin-left: 50px;
	/* Margin from the left side */
	margin-bottom: 50px;
}

.contectForm {
	width: calc(50% - 70px);
	/* Adjust width for the contact form to account for margin */
	padding: 20px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #003b5b;
	float: right;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 50px;
	/* Margin from the right side */
}

@media screen and (max-width: 768px) {

	.contectUs,
	.contectForm {
		width: 100%;
		float: none;
		margin-right: 0;
	}
}

h4 {
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}

input,
textarea {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	background-color: #fff;
	border-radius: 5px;
}

textarea {
	resize: none;
}

#submit {
	border: none;
	background-color: orangered;
	color: white;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#submit:hover {
	background-color: #333333;
}




/* Footer CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	/* Added to reset default margin */
	padding: 0;
	/* Added to reset default padding */
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #24262b;
	padding: 20px 0;
	/* Increased padding for better spacing */
	clear: both;
	/* Added to clear floats */
}

.footer-col {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 20px;
	/* Added to create space between columns */
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
	/* Adjusted margin for better spacing */
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/* Responsive */
@media (max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 20px;
		/* Adjusted margin for better spacing */
	}
}

@media (max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}


/* whtasaap logo */
.whatsapp-button {
	position: fixed;
	bottom: 80px; 
	right: 30px; 
	z-index: 1000; 
  }
  
  .whatsapp-button img {
	cursor: pointer;
	transition: transform 0.3s ease;
  }
  
  .whatsapp-button img:hover {
	transform: scale(1.1);
  }
  





  .TESTIMONIALS{
	padding: 50px;
	background-color: #f0f3fc;
  }
  .wrapper {
	max-height: 350px;
	display: flex;
	overflow: auto;
	margin-top: 50px;
  }
  .wrapper img{
	aspect-ratio: 4/4;
  }
  
  .wrapper::-webkit-scrollbar {
	width: 0;
  }
  
  .wrapper .item {
	min-width: 300px;
	height: 300px;
	text-align: center;
	/* background-color:white; */
	border-radius: 25px;
	margin: 12px;
	padding: 20px; 
	overflow: auto; 
	box-sizing: border-box; 
  }
  
  .wrapper .item p {
	margin: 0; 
	line-height: 1.4; 
	text-align: justify;
	margin-top: 50px;
  }